body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* =====================================
            NAVBAR
======================================== */
.navbar {
    background-color: #FFF;
    min-height: 5rem;
}

.fa-compass {
    color: #FE424D;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.search-btn {
    background-color: #FE424D;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0 1rem;
}

.search-btn:hover {
    background-color: #FE424D;
    color: #fff;
    border: none;
}

.fa-magnifying-glass {
    display: inline;
    margin-right: .5rem;
}

.search-input {
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* =====================================
            Footer
======================================== */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    margin: 0 .5rem;
}

.f-info-socials a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.f-info {
    height: 8rem;
    background-color: #EBEBEB;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* =====================================
            Filters
======================================== */

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filters-box::-webkit-scrollbar {
    display: none;
  }
.filters-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.filters-box {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    overflow-x: scroll;
}
#filters a {
    text-decoration: none;
    color: #000;
    margin-right: 2rem;
    text-align: center;
    opacity: .6;
    font-size: 1.5rem;
}
#filters a:hover {
    opacity: 1;
}
#filters a p {
    font-size: .75rem;
    font-weight: 500;
}

.tax-switch {
    border-radius: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.231);
    padding: .5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.gst-tax {
    display: none;
}

/* =====================================
            Cards
======================================== */
.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    width: 100% !important;
    height: 20rem !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-title i {
    font-size: 1rem;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #FFF;
}

/* =====================================
            No Listings
======================================== */
.no-listings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    font-size: 1.5rem;
    opacity: .7;
}
.fa-file {
    font-size: 5rem;
}

/* =====================================
            New Page
======================================== */
.add-btn {
    background-color: #FE424D !important;
    border: none !important;
}

/* =====================================
            Edit Page
======================================== */
.edit-btn {
    background-color: #FE424D !important;
    border: none !important;
}

/* =====================================
            Show Page
======================================== */
.show-img {
    height: 30vh;
    object-fit: contain;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.btns {
    display: flex;
}

/* MAP */
#map {
    width: 100%;
    height: 25rem;
    border: 1px solid #000;
    border-radius: 10px;
}

/* FLASH */
.flash-alert{
    margin-top: 2rem;
}


/* =====================================
            Media Queries
======================================== */

@media screen and (max-width: 768px) {

    .user-col, .show-col{
        width: 80% !important;
    }
    .user-mb {
        margin-bottom: 2rem !important;
    }
    .search-form {
        margin-top: 1rem;
    }
    .search-input, .search-btn {
        border-radius: .5rem;
    }
    
}
@media screen and (max-width: 576px) {

    .show-col {
        width: 90% !important;
    }
    .show-title {
        margin-left: 0;
    }
    #map {
        height: 15rem;
    }
}